<template>
  <div class="grid grid-cols-3 mt-6 container mx-auto ">
    <div class="rounded-[5px] col-span-2 h-[452px] me-5">
      <img
        src="https://cf.bstatic.com/xdata/images/hotel/square60/509008241.jpg?k=7bd4934dd961ce5ffa67448bf864df1e76a029c4cb6b73ec829d996304501319&o="
        alt="image"
        class="w-full h-full object-cover rounded-[5px]"
      />
    </div>
    <div >
      <div class="h-[218px] mb-4 ">
        <img
          src="../../assets/hotel3.svg"
          alt="image"
          class="w-full h-full object-cover rounded-[5px]"
        />
      </div>
      <div class="h-[218px]">
        <img
          src="../../assets/hotel3.svg"
          alt="image"
          class="w-full h-full object-cover rounded-[5px]"
        />
      </div>
    </div>
  </div>
</template>
