<script>
import { ref, onMounted, watch } from "vue";
export default {
  props: {
    latitude: {
      type: Number,
      required: true,
    },
    longitude: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    const mapIframe = ref(null);
    const mapUrl = ref("");

    // Watch for changes in latitude or longitude props
    watch([() => props.latitude, () => props.longitude], () => {
      generateMapUrl();
    });

    // Generate the map's iframe URL based on latitude and longitude
    const generateMapUrl = () => {
      const mapProviderUrl = "https://www.google.com/maps/embed/v1/view?key=AIzaSyBdPMrDJCanyY38OO06MUfGAo1ZCWS4Ikg"; // Replace with your map provider's base URL
      const zoomLevel = 12; // Adjust the zoom level as needed

      // Construct the URL with latitude, longitude, and zoom level
      mapUrl.value = `${mapProviderUrl}?lat=${props.latitude}&long=${props.longitude}&zoom=${zoomLevel}`;
    };

    onMounted(() => {
      generateMapUrl();
    });

    return { mapUrl };
  },
};
</script>
<template>
  <div>
    <iframe
      ref="mapIframe"
      width="600"
      height="450"
      frameborder="0"
      style="border:0"
      allowfullscreen
      :src="mapUrl"
    ></iframe>
  </div>
</template