<script>
import { defineComponent } from "vue";
import { ref, onMounted } from "vue";
import { testHotel } from "../../assets/hotel";
export default defineComponent({
  props: {
    hotel: String,
  },
  setup(props) {
    let hotelDetaile = ref({});
    const data = ref([
      {
        labal: "Hotel Penselvenyia",
        time: "2",
        image: "../../assets/plane.svg",
      },
      {
        labal: "Travis Bakery store house",
        time: "10",
        image: "../../assets/plane.svg",
      },
      {
        labal: "Olivia Johnson Garden",
        time: "15",
        image: "../../assets/plane.svg",
      },
      {
        labal: "Norman Opera Circus",
        time: "18",
        image: "../../assets/plane.svg",
      },
      { labal: "Rockdeset hotel", time: "32", image: "../../assets/plane.svg" },
    ]);
    // Accessing the value of props
    const hotel = props.hotel || testHotel;
  //  const hotel = testHotel;
    console.log(testHotel);

    return { hotel, data };
  },
});
</script>
<template>
  <div class="container mx-auto grid grid-cols-3 pt-11">
    <div class="col-span-2 me-[30px]">
      <p class="text-[32px] font-semibold text-[#1A1A1A]">
        {{ hotel.hotel_name }}
      </p>
      <div class="flex my-3">
        <img src="../../assets/star.svg" alt="star" class="me-[12px]" />
        <p class="text-sm font-normal">
          {{ (hotel.wifi_review_score.rating / 2).toFixed(1) }} (
          {{ hotel.review_nr }} Reviews)
        </p>
      </div>
      <div class="flex my-3">
        <img src="../../assets/location-blue.svg" alt="map" class="me-1.5" />
        <p class="text-sm font-normal">
          {{ hotel.address }}
        </p>
      </div>
      <div class="rounded-md bg-white mt-8">
        <div class="ps-[30px] pe-10 pt-6 pb-10">
          <p class="text-lg font-medium text-[#181818] mb-5">Overview</p>
          <div class="text-base font-normal #4F4F4F">
            <!--  <p class="text-[#4F4F4F]">
            
             {{hotel.accessibilityLabel}}
            </p> -->
            <p class="text-[#4F4F4F] mb-4">
              Featuring free WiFi throughout the property, Lakeside Motel
              Waterfront offers accommodations in Lakes Entrance, 19 mi from
              Bairnsdale. Free private parking is available on site.
            </p>
            <p class="text-[#4F4F4F] mb-4">
              Each room at this motel is air conditioned and comes with a
              flat-screen TV. You will find a kettle, toaster and a microwave in
              the room. Each room is fitted with a private bathroom. Guests have
              access to barbecue facilities and a lovely large lawn area. Metung
              is 6.8 mi from Lakeside Motel Waterfront, while Paynesville is 14
              mi from the property.
            </p>
            <p class="text-[#4F4F4F]">
              Couples in particular like the location – they rated it 9.2 for a
              two-person trip.
            </p>
          </div>
        </div>
        <div class="border-t border-[#E0E0E0]"></div>
        <div class="pt-[26px] ps-[30px] pe-10 pb-10">
          <p class="font-medium text-lg text-[#181818] mb-6">Top facilities</p>

          <div class="flex items-center">
            <div class="me-[114px]">
              <div class="flex items-center mb-3">
                <img src="../../assets/home-wifi.svg" alt="icon" />
                <p class="font-normal text-sm ms-2.5">Free wifi</p>
              </div>
              <div class="flex items-center mb-3">
                <img src="../../assets/wind.svg" alt="icon" />
                <p class="font-normal text-sm ms-2.5">Air Conditioning</p>
              </div>

              <div class="flex items-center">
                <img src="../../assets/car.svg" alt="icon" />
                <p class="font-normal text-sm ms-2.5">Parking available</p>
              </div>
            </div>
            <div>
              <div class="flex items-center mb-3">
                <img src="../../assets/bag-tick.svg" alt="icon" />
                <p class="font-normal text-sm ms-2.5">Business Services</p>
              </div>
              <div class="flex items-center mb-3">
                <img src="../../assets/lifebuoy.svg" alt="icon" />
                <p class="font-normal text-sm ms-2.5">Swimming pool</p>
              </div>

              <div class="flex items-center">
                <img src="../../assets/like.svg" alt="icon" />
                <p class="font-normal text-sm ms-2.5">Top rated in area</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <!--    <img
        src="../../assets/mapimage.svg"
        alt="map"
        class="w-full h-[240px] object-cover mb-[35px] rounded-md"
      /> -->
      <iframe
        class="w-full h-[240px] object-cover mb-[35px] rounded-md"
        :src="`https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d0.1!2d${hotel.longitude}!3d${hotel.latitude}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjfCsDA2JzIwLjYiTiA3NMKwMDYnMzIuNiJX!5e0!3m2!1sen!2sus!4v1571262863266!5m2!1sen!2sus`"
      ></iframe>
      <!--  <iframe :src="`https//maps.google.com/maps?q=27.8888899725518,27.8888899725518&z=15&output=embed`"></iframe> -->
      <div>
        <p class="text-lg font-medium mb-[22px]">Explore the area</p>
        <div v-for="item in data" :key="item.time">
          <div class="flex items-center justify-between mb-3">
            <div class="flex items-center">
              <img src="../../assets/plane.svg" alt="icon" />
              <p class="font-normal text-sm ms-2.5">{{ item.labal }}</p>
            </div>
            <p>{{ item.time }} min drive</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
