<template>
<div class=" rounded-md ms-5 bg-white">
 <img
          src="../../assets/roomimage.svg"
          alt="roomimage"
          class="w-full h-[200px] object-cover   rounded-t-md"
        />
        <div class="p-5">
        <p class="text-lg font-medium mb-[18px] text-[#1A1A1A]">Standard twin ben, 1 Queen bed</p>
        <div class="flex items-center mb-2.5">
         <img
          src="../../assets/bag.svg"
          alt="icon"
        />
        <p class="font-normal text-sm ms-2.5">300 sq ft</p>
        </div>
         <div class="flex items-center mb-2.5">
         <img
          src="../../assets/sleeps.svg"
          alt="icon"
        />
        <p class="font-normal text-sm ms-2.5">300 sq ft</p>
        </div>
         <div class="flex items-center mb-2.5">
         <img
          src="../../assets/beds.svg"
          alt="icon"
        />
        <p class="font-normal text-sm ms-2.5">300 sq ft</p>
        </div>
            <router-link
            to="/payment"
            class="bg-primary font-medium text-base mt-3.5 block text-center text-[#fff] border border-primary rounded-md px-[18px] py-[10px]"
          >
         Reserve suite
          </router-link>
        </div>

</div>
</template>