<script>
import { ref } from 'vue';
import PopUp from "../../components/PopUp.vue";
export default {

  setup() {
    const  informations =ref(["1- This rate is non-refundable. If you change or cancel your booking you will not get a refund or credit to use for a future stay.", "2- Stay extensions will require a new reservation.","3- Front desk staff will greet guests on arrival","4- No refunds will be issued for late check-in or early check-out."])
    const isModalOpen = ref(false);

    const toggleModal = () => {
      isModalOpen.value = !isModalOpen.value;
    };

    const closeModal = () => {
      isModalOpen.value = false;
    };

    return {
      isModalOpen,
      toggleModal,
      closeModal,
      informations
    };
  },
};
</script>
<template>
  <div class="rounded-md mb-[141px]">
    <div class="bg-[#F2C94C] py-[18px] px-6 rounded-t-md text-[#333]">
      <p class="font-medium text-lg">
        Important information about your booking
      </p>
    </div>
    <div class="bg-white px-6">
      <ul class="pt-32">
        <li v-for="(item, x) in informations" :key="x">
          <p class="font-normal text-[15px] text-[#333]">
            {{ item }}
          </p>
        </li>
      </ul>
      <p class="font-normal text-sm pt-32 pb-6">
        By clicking the button below, I acknowledge that I have reviewed the
        <span class="text-primary">Privacy Statement</span> and have reviewd and
        accept the<span class="text-primary"> Rules and Restrictions</span> and
        <span class="text-primary">Terms of Use.</span>
      </p>
      <button
        @click="toggleModal"
        class="bg-primary font-medium text-base text-center text-[#fff] border border-primary rounded-md px-[18px] py-[12px]"
      >
        Complete Booking
      </button>
      <div class="pt-[21px] flex items-center pb-[35px]">
        <img
          src="../../assets/lock-circle.svg"
          alt="lock-circle"
          class="me-2"
        />
        <p class="font-normal text-sm text-[#4F4F4F]">
          We use secure transmission and encrypted storage to protect your
          personal information
        </p>
      </div>
    </div>
  </div>
  <div
    v-if="isModalOpen"
    class="fixed inset-0 flex items-center justify-center  bg-[#9ca3af] bg-opacity-50"
  >

    <div class="w-[400px] text-center px-6 rounded-[10px] bg-[#fff]">
    <div
      class="bg-[#6FCF9733] px-10 py-5 rounded-[10px] mx-[56px] flex items-center justify-center my-11"
    >
      <img src="../../assets/booking-done.svg" alt="booking-done" />
    </div>
    <p class="font-semibold text-[20px] mb-3 text-[#181818]">
      Booking Successful
    </p>
    <p class="font-normal text-base">
      Congratulations your reservation has been made. You will be notified 2
      days prior the date.
    </p>
    <router-link
      to="/trips"
      class="bg-primary font-medium text-base mt-11 mb-7 block text-center text-[#fff] border border-primary rounded-md px-[18px] py-[10px]"
    >
      View Trip
    </router-link>
  </div>




  </div>
</template>
