<template>
  <div class="rounded-md mb-30">
    <div
      class="bg-primary mt-[30px] py-4 px-5 rounded-t-md flex text-white items-center"
    >
      <img src="../../assets/card-tick.svg" alt="card-tick" class="me-4" />
      <p class="font-medium text-lg">Payment options</p>
    </div>
    <div class="bg-white">
      <div class="shadow-[0px_1px_0px_0px_#E0E0E0] flex p-32 pb-0">
        <p class="ms-3.5 border-b-[3px] border-primary">Debit/Credit Card</p>
      </div>
      <div class="h-[3px] w-full"></div>
      <div class="p-32">
        <div class="flex">
          <div
            class="me-1.5 rounded-[5px] p-2 bg-secondary flex items-center justify-center w-[60px]"
          >
            <img src="../../assets/payment1.svg" alt="payment" />
          </div>
          <div
            class="me-1.5 rounded-[5px] p-2 bg-secondary flex items-center justify-center w-[60px]"
          >
            <img src="../../assets/payment2.svg" alt="payment" />
          </div>
          <div
            class="me-1.5 rounded-[5px] p-2 bg-secondary flex items-center justify-center w-[60px]"
          >
            <img src="../../assets/payment3.svg" alt="payment" />
          </div>
          <div
            class="rounded-[5px] p-2 bg-secondary flex items-center justify-center w-[60px]"
          >
            <img src="../../assets/payment4.svg" alt="payment" />
          </div>
        </div>

        <div>
          <div>
            <labal class="font-medium text-sm block mt-[26px] text-[#181818]"
              >Name on card</labal
            >
            <div class="flex items-center">
              <input
                type="text"
                placeholder="Julius Lorenzo"
                class="p-3 rounded w-[500px] bg-secondary"
              />
              <img src="../../assets/done.svg" alt="done" class="ms-4 block" />
            </div>
          </div>
          <div>
            <labal class="font-medium text-sm block mt-5 text-[#181818]"
              >Debit/Credit card number</labal
            >
            <div class="flex items-center">
              <input
                type="text"
                placeholder="9923464374822293"
                class="p-3 rounded w-[500px] bg-secondary"
              />
              <img src="../../assets/done.svg" alt="done" class="ms-4 block" />
            </div>
          </div>
          <div>
            <labal class="font-medium text-sm block mt-5 text-[#181818]"
              >Expiration Date</labal
            >
            <div class="flex items-center">
              <div
                class="flex items-center justify-between w-[150px] bg-secondary py-3 px-[10px] rounded-md"
              >
                <p class="text-sm font-normal text-[#333]">April</p>

                <img src="../../assets/arrow-down.svg" alt="arrow" />
              </div>
              <div
                class="flex items-center justify-between w-[150px] ms-3 bg-secondary py-3 px-[10px] rounded-md"
              >
                <p class="text-sm font-normal text-[#333]">2026</p>

                <img src="../../assets/arrow-down.svg" alt="arrow" />
              </div>
              <img src="../../assets/done.svg" alt="done" class="ms-4 block" />
            </div>
          </div>
            <div>
           
            <div class="flex items-center  mt-5">
             <div>
              <labal class="font-medium text-sm block text-[#181818]"
              >Security Code</labal
            >
              <input
                type="text"
                placeholder="543"
                class="p-3 rounded w-[240px] bg-secondary"
              />
             </div>
             <div class="ms-5">
              <labal class="font-medium text-sm block text-[#181818]"
              >Billing Zip code</labal
            >
              <input
                type="text"
                placeholder="203846"
                class="p-3 rounded w-[240px] bg-secondary"
              />
             </div>
              
              <img src="../../assets/done.svg" alt="done" class="ms-4 mt-4 block" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
