<template>
  <div class="rounded-md w-[400px]">
   <img
      src="../../assets/reservation.png"
      alt="hotel"
      class="rounded-md w-[400px] h-[180px] "
    /> 
    <div class="w-full bg-white p-5">
      <p class="font-medium text-lg text-[#181818] mb-[10px]">
        Julia Dens Resort
      </p>
      <div class="flex mb-[25px]">
        <img src="../../assets/star.svg" alt="star" class="me-[12px]" />
        <p class="text-sm font-normal">4.5 (1200 Reviews)</p>
      </div>

      <div>
        <p class="text-sm font-normal text-[#EB5757] mb-2">Non refundable</p>
        <p class="text-sm font-normal mb-2">Check in: Sunday, March 18, 2022</p>
        <p class="text-sm font-normal mb-2">
          Check out: Tuesday, March 20, 2022
        </p>
        <p class="text-sm font-normal mb-2">2 night stay</p>
      </div>
    </div>

    <div class="rounded-md mb-30">
      <div class="bg-[#85E0AB] p-[18px] mt-30 rounded-t-md text-[#181818]">
        <p class="font-medium text-base">Price Details</p>
      </div>
      <div class="pt-[23px] pb-[20px] border-b border-[#E0E0E0] bg-white">
        <div class="flex items-center justify-between px-[18px] font-normal text-sm mb-3 text-[#4F4F4F]">
          <p>1 room X 2 nights</p>
          <p>$ 120.32</p>
        </div>
        <div class="flex items-center justify-between px-[18px] font-normal text-sm text-[#4F4F4F]">
          <p>Tax and service fees</p>
          <p>$ 8.32</p>
        </div>
      </div>
       <div class="bg-white flex items-center justify-between px-[18px] font-semibold text-xl text-[#181818] pt-[25px] pb-[23px]">
          <p>Total</p>
          <p>$130</p>
        </div>
    </div>
  </div>
</template>
