<template>
  <div class="rounded-md mb-30">
    <div
      class="bg-primary  py-4 px-5 rounded-t-md flex text-white items-center"
    >
      <img src="../../assets/security.svg" alt="securityIcon" class="me-4" />
      <p class="font-medium text-base">
        <span class="me-[18px]">Room 1 </span>
        2 adults, 1 double bed and 1 twin bed, Non-smoking
      </p>
    </div>
    <div class="bg-white p-32">
      <div class="flex items-center">
        <div>
          <labal class="font-medium text-sm">First name</labal> <br />
          <input
            type="text"
            placeholder="aya"
            class="p-3 rounded w-[240px] border border-primary"
          />
        </div>
        <div class="ms-5">
          <labal class="font-medium text-sm">Last name</labal> <br />
          <input
            type="text"
            placeholder="Lorenzo"
            class="p-3 rounded w-[240px] bg-secondary"
          />
        </div>
      </div>

      <div class="flex mt-5 items-end">
       <div>
        <div>
          <labal class="font-medium text-sm">Mobile number</labal> <br />

           <div
                class="flex items-center justify-between p-3 rounded  w-[150px] bg-secondary "
              >
<div class="flex items-center"><img src="../../assets/country.svg" alt="country flag" />
                <p class="text-sm font-normal ms-[10px] text-[#333]">+61</p></div>
                <img src="../../assets/arrow-down.svg" alt="arrow" />
              </div>
        </div>
       </div>
        <div class="ms-5">
          <input
            type="text"
            placeholder="88672778"
            class="p-3 rounded w-[338px] bg-secondary"
          />
        </div>
      </div>

          <div class="flex items-center mt-5 ">
                  <input
                    type="checkbox"
                    id="budget"
                    name="budget"
                    value=""
                    class="w-[20px] h-[20px] appearance-none bg-[#fff] rounded-md border border-[#BDBDBD] me-[8px]"
                  />
                  <label for="budget" class="font-normal text-sm text-[#333]">
                  Receive text alerts about this trip.</label
                  >
                </div>
    </div>
  </div>
</template>
