<script setup>
import NavBar from "../components/NavBar.vue";
import UserDetaile from "../components/Checkout/UserDetaile.vue";
import PaymentOptions from "../components/Checkout/PaymentOptions.vue";
import BookingInformation from "../components/Checkout/BookingInformation.vue";
import ReservationDetaile from "../components/Checkout/ReservationDetaile.vue";
import Warning from "../components/Home/Warning.vue";
</script>

<template>
  <NavBar />
  <div class="bg-[#F4F4F4] pt-[60px]">
    <div class="container mx-auto">
      <p class="text-[#1A1A1A] text-[32px] font-semibold mb-[30px]">
        Secure your reservation
      </p>
      <Warning />
      <div class="grid grid-cols-3 mt-[30px]">
        <div class="col-span-2 me-30">
          <UserDetaile />
          <PaymentOptions />
          <BookingInformation />
        </div>
        <div class="col-span-1" >
        <ReservationDetaile/>
        </div>
      </div>
    </div>
  </div>
</template>
