

<script setup>
import NavBar from "../components/NavBar.vue";
import Welcome from "../components/Home/Welcome.vue";
import Vacations from "../components/Home/Vacations.vue";
import Trips from "../components/Home/Trips.vue";
import PopularHotels from "../components/Home/PopularHotels.vue";
import DownloadMobileApp from "../components/Home/DownloadMobileApp.vue";
import Footer from "../components/Footer.vue";
</script>
<template>
  <div class="container mx-auto">
    <NavBar />
    <Welcome />
    <Vacations />
    <Trips />
    <PopularHotels />
    <DownloadMobileApp />
     <div class="flex items-center justify-center flex-col py-[80px]">
      <p class="font-semibold text-[28px] text-[#181818]">
        Explore the world with My Dream place
      </p>
      <p class="font-normal text-[16px] text-primary">
        Discover new places and experiences
      </p>
    </div>
  </div>
   <Footer />
</template>