<script>
import { toast } from 'vue3-toastify';
import NavBar from "../components/NavBar.vue";
import Images from "../components/HotelDetaile/Images.vue";
import Overview from "../components/HotelDetaile/Overview.vue";
import RoomCard from "../components/HotelDetaile/RoomCard.vue";
import Footer from "../components/Footer.vue";
import Warning from "../components/Home/Warning.vue";
import { ref, computed, onMounted, watchEffect } from "vue";
import {getHotelDetaile } from "../networking/hotelDetaile.js";
import { useRoute } from "vue-router";
export default {
  components: {
    NavBar,
    Images,
    Overview,
    RoomCard,
    Footer,
    Warning,
  },
  setup() {
   const hotelId = ref(null);
    const hotelDetaile = ref(null);
    const route = useRoute();
    const myParam = computed(() => route.params.id); // Access route parameter
    // Watch for changes in the route parameter
    watchEffect(() => {
      if (myParam.value) {
        hotelId.value = myParam.value; // Parse JSON string to object
      }
    });
    onMounted(()=>{
        if (hotelId.value ) {
          console.log(JSON.parse(localStorage.getItem("searchData")));
 let data = JSON.parse(localStorage.getItem("searchData"));
        console.log({...data,hotel_id:hotelId.value});
        getHotelDetaile(data)
          .then((response) => {
          
            console.log(response.data);
          })
          .catch((e) => {
            console.log(e);
          });
      } else {
            toast("Fill Data", {
        autoClose: 1000,
      });}
    })
    console.log(hotelId.value);
    return { hotelDetaile };
  },
};
</script>
<template>
  <NavBar /> 
  <div class="bg-gradient-to-b from-[#F4F4F4] to-blue-[#fff] pt-6">
   <Images />
  </div>
 
  <div class="font-normal text-base flex container mx-auto pt-10">
    <p class="me-[42px] ms-3.5 border-b-[3px] border-primary">Overview</p>

    <p>Rooms</p>
  </div>
  <div class="bg-[#F4F4F4]">
  <Overview :hotel="hotelDetaile" /> 
    <div class="container mx-auto mt-10">
      <p class="font-semibold text-2xl mb-8">Available rooms</p>
      <div class="grid grid-cols-3">
        <div
          class="rounded-md h-[340px] ps-7 pe-[69px] bg-gradient-to-r from-[#4796FF] to-[#2366BF] flex items-center"
        >
          <div>
            <div
              class="flex mt-[22px] whitespace-nowrap items-center text-[1B1F2D]"
            >
              <router-link
                to="/"
                class="font-medium flex text-lg leading-5 text-white"
              >
                <img src="../assets/white-plane.svg" alt="logo" class="me-1" />
                <p>my Dream Place</p>
              </router-link>
            </div>
            <p class="text-white text-2xl font-bold mt-7">
              20% off Use Promotional Coupon Code:
              <span class="text-[#FFD723]">Orlando</span>
            </p>
          </div>
          <img src="../assets/guest.svg" alt="guest"  />
        </div>
        <RoomCard />
        <RoomCard />
      </div>
    </div>
    <div class="container mx-auto mt-[172px] mb-20">
      <Warning />
    </div>
    <Footer />
  </div>
</template>
