<script>
import { ref, computed } from "vue";
import { findUserByEmail } from "../networking/authApi.js";
import { useRouter } from "vue-router";
import { toast } from "vue3-toastify";
export default {
  setup() {
    const router = useRouter();
    const email = ref("");
    const password = ref("");

    const emailError = ref("");
    const passwordError = ref("");

    const emailTouched = ref(false);
    const passwordTouched = ref(false);
    const formSubmitted = ref(false);

    const validateEmail = () => {
      if (!emailTouched.value && !formSubmitted.value) return;
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!emailRegex.test(email.value)) {
        emailError.value = "Invalid email format";
        return false;
      }
      emailError.value = "";
      return true;
    };

    const validatePassword = () => {
      if (!passwordTouched.value && !formSubmitted.value) return;
      if (password.value.length < 8) {
        passwordError.value = "Password must be at least 8 characters long";
        return false;
      }
      passwordError.value = "";
      return true;
    };

    const isFormValid = computed(() => {
      return validateEmail() && validatePassword();
    });
    const loginUser = () => {
      formSubmitted.value = true;
      if (!isFormValid.value) {
        toast("invalid data", {
          autoClose: 1000,
        });
        console.log("invalid data");
        return;
      }
      const user = findUserByEmail(email.value);
      if (!user || user.password !== password.value) {
        toast("Invalid email or password", {
          autoClose: 1000,
        });
        return;
      }
      toast("Login successful", {
        autoClose: 1000,
      });
      localStorage.setItem(
        "userData",
        JSON.stringify({ email: email.value, password: password.value })
      );
      router.push({
        name: "Welcome",
      });
    };

    return {
      email,
      password,
      loginUser,
      emailError,
      passwordError,
      validateEmail,
      validatePassword,
    };
  },
};
</script>

<template>
  <div class="container mx-auto flex flex-col">
    <div class="flex mt-[22px] whitespace-nowrap items-center text-[1B1F2D]">
      <a href="/" target="_blank" class="font-medium flex text-lg leading-5">
        <img src="../assets/logo.svg" alt="logo" />
        <p>my Dream Place</p>
      </a>
    </div>
    <div class="flex flex-col items-center justify-center mt-[92px]">
      <p class="text-[#181818] font-semibold text-[28px] mb-[40px]">Sign in</p>
      <form @submit.prevent="loginUser">
        <div class="flex flex-col mb-[44px]">
          <label class="font-medium text-sm" for="email">Email address</label>
          <input
            id="email"
            @blur="validateEmail"
            v-model="email"
            type="email"
            class="rounded bg-[#F2F2F2] p-[12px] w-[400px]"
          />
          <span v-if="emailError" class="text-[red]">{{ emailError }}</span>
        </div>
        <div class="flex flex-col mb-[33px]">
          <label class="font-medium text-sm" for="password">Password</label>
          <input
            id="password"
            v-model="password"
            type="password"
            @blur="validatePassword"
            class="rounded bg-[#F2F2F2] p-[12px] w-[400px]"
          />
          <span v-if="passwordError" class="text-[red]">{{
            passwordError
          }}</span>
        </div>
        <div class="mb-[20px]">
          <button
            type="submit"
            class="bg-primary block text-center w-[400px] text-[#fff] border border-primary rounded-md px-[18px] py-[10px]"
          >
            Sign in
          </button>
        </div>
        <p>
          Don’t have an account?
          <router-link to="/register" class="text-primary"
            >Register</router-link
          >
        </p>
      </form>
    </div>
  </div>
</template>
