<script>
import { ref, computed } from "vue";
import { v4 as uuidv4 } from "uuid";
import { toast } from 'vue3-toastify';
import { addUser, findUserByEmail } from "../networking/authApi.js";
import { useRouter } from "vue-router";
export default {
  setup() {
      const router = useRouter();
    const email = ref("");
    const password = ref("");
    const confirmPassword = ref("");
    const emailError = ref("");
    const passwordError = ref("");
    const confirmPasswordError = ref("");
        const emailTouched = ref(false);
    const passwordTouched = ref(false);
    const confirmPasswordTouched = ref(false);
    const formSubmitted = ref(false);
    const validateEmail = () => {
        if (!emailTouched.value && !formSubmitted.value) return;
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!emailRegex.test(email.value)) {
        emailError.value = "Invalid email format";
        return false;
      }
      emailError.value = "";
      return true;
    };

    const validatePassword = () => {
      if (!passwordTouched.value && !formSubmitted.value) return;
      if (password.value.length < 8) {
        passwordError.value = "Password must be at least 8 characters long";
        return false;
      }
      passwordError.value = "";
      return true;
    };

    const validateConfirmPassword = () => {
          if (!confirmPasswordTouched.value && !formSubmitted.value) return;
      if (confirmPassword.value !== password.value) {
        confirmPasswordError.value = "Passwords do not match";
        return false;
      }
      confirmPasswordError.value = "";
      return true;
    };

    const isFormValid = computed(() => {
      return validateEmail() && validatePassword() && validateConfirmPassword();
    });

    const registerUser = () => {
      formSubmitted.value = true;
      if (!isFormValid.value) {
           toast("invalid data", {
        autoClose: 1000,}); 
        console.log("invalid data");
        return;
      }
      const existingUser = findUserByEmail(email.value);
      if (existingUser) {
                toast("Email already exists", {
        autoClose: 1000,}); 
        return;
      }

      const newUser = {
        id: uuidv4(),
        email: email.value,
        password: password.value, // Should be encrypted in real-world applications
      };

      addUser(newUser);
    toast("Registration successful", {
        autoClose: 1000,}); 
        router.push({
              name: "Login"
            });
      
    };

    return {
      email,
      password,
      confirmPassword,
      emailError,
      passwordError,
      confirmPasswordError,
      validateEmail,
      validatePassword,
      validateConfirmPassword,
      isFormValid,
      registerUser,
    };
  },
};
</script>

<template>
  <div class="container mx-auto flex flex-col">
    <div class="flex mt-[22px] whitespace-nowrap items-center text-[1B1F2D]">
      <a href="/" target="_blank" class="font-medium flex text-lg leading-5">
        <img src="../assets/logo.svg" alt="logo" />
        <p>my Dream Place</p>
      </a>
    </div>
    <div class="flex flex-col items-center justify-center mt-[92px]">
      <p class="text-[#181818] font-semibold text-[28px] mb-[40px]">Register</p>
      <form @submit.prevent="registerUser">
        <div class="flex flex-col mb-[44px]">
          <label class="font-medium text-sm" for="email">Email address</label>
          <input
            type="email"
            v-model="email"
            id="email"
            @blur="validateEmail"
            class="rounded bg-[#F2F2F2] p-[12px] w-[400px]"
          />
          <span v-if="emailError" class="text-[red]">{{ emailError }}</span>
        </div>
        <div class="flex flex-col mb-[33px]">
          <label for="password" class="font-medium text-sm">Password</label>
          <input
            id="password"
            v-model="password"
            type="password"
            @blur="validatePassword"
            class="rounded bg-[#F2F2F2] p-[12px] w-[400px]"
          />
          <span v-if="passwordError" class="text-[red]">{{
            passwordError
          }}</span>
        </div>
        <div class="flex flex-col mb-[33px]">
          <label for="confirmPassword" class="font-medium text-sm"
            >Confirm password</label
          >
          <input
            id="confirmPassword"
            @blur="validateConfirmPassword"
            v-model="confirmPassword"
            type="password"
            class="rounded bg-[#F2F2F2] p-[12px] w-[400px]"
          />
          <span v-if="confirmPasswordError" class="text-[red]">{{
            confirmPasswordError
          }}</span>
        </div>
        <div class="mb-[20px]">
          <button
            type="submit"
            class="bg-primary block text-center w-[400px] text-[#fff] border border-primary rounded-md px-[18px] py-[10px]"
          >
            Submit
          </button>
        </div>
      </form>
      <p>
        Already have an account?
        <router-link to="/login" class="text-primary">Sign in</router-link>
      </p>
    </div>
  </div>
</template>
