<script setup>
import NavBar from "../components/NavBar.vue";
import TripCard from "../components/Trips/TripCard.vue";
</script>

<template>

 <NavBar />
<div class="bg-[#F4F4F4] pt-[120px] px-[105px]">
<p class="font-semibold text-[32px] mb-7">My trips</p>
   <TripCard/>
  <TripCard/>
</div>
</template>