<template>
  <div class="flex items-center justify-center h-screen">
  <div class="w-[352px] text-center px-6 pb-7 rounded-[10px] shadow-[0_4px_37px_0px_rgba(0,0,0,0.15)]">
    <div><img src="../assets/getstarted.PNG" alt="welcome" /></div>
    <p class="font-semibold mb-3 text-[20px] text-[#181818]">
      Welcome to My Dream Place
    </p>
    <p class="font-normal text-base">
      You can now enjoy your travel experience with easy access to resources and
      more
    </p>
    <router-link
      to="/"
      class="bg-primary font-medium text-base mt-11 block text-center text-[#fff] border border-primary rounded-md px-[18px] py-[10px]"
    >
      Get Started
    </router-link>
  </div>
  
  </div>
</template>
