<template>
  <div>
    <div
      class="grid grid-cols-2   bg-DownloadApp bg-no-repeat bg-cover bg-center w-full rounded-md mt-[20px]"
    >
      <div class="ps-[70px] py-[70px]">
        <p class="text-[#fff] text-[28px] font-semibold">
          Download the mobile application for bonus
        </p>
        <p class="text-[#fff] text-[28px] font-semibold mb-4">
          coupons and travel codes
        </p>
        <div>
    <button class="bg-primary mt-[14px]  text-[#fff] border border-primary rounded-md px-[18px] py-[10px]  ">Download mobile app</button>
    </div>
      </div>
      <div>
        <img src="../../assets/smartphone.svg" alt="smartphone" class="w-full h-full" />
      </div>
    </div>
  </div>
</template>
