<template>
 <p class="text-[#181818] text-[28px] font-semibold mb-3">Popular hotels</p>

  <div class="grid grid-cols-4 text-[#181818]  gap-3 mb-12">
 
  <div>
    <img src="../../assets/hotel1.svg" alt="vacation image"/>
     <p class="font-semibold text-xl mt-3">Lakeside Motel Warefront</p>
      <p class="text-sm font-normal"> 2246 properties</p>
  </div>
   <div>
    <img src="../../assets/hotel2.svg" alt="vacation image"/>
     <p class="font-semibold text-xl mt-3">Recce Graham resort</p>
      <p class="text-sm font-normal"> 1278 properties</p>
  </div>

   <div>
    <img src="../../assets/hotel3.svg" alt="vacation image"/>
     <p class="font-semibold text-xl mt-3 ">Fireside Dinners</p>
      <p class="text-sm font-normal"> 480 properties</p>
  </div>
   <div >
    <img src="../../assets/hotel4.svg" alt="vacation image"/>
     <p class="font-semibold text-xl mt-3 ">Oculous Inn Stay</p>
      <p class="text-sm font-normal">320 properties</p>
  </div>
  </div>
</template>