<script>
import { ref, onMounted } from "vue";
import axios from "axios";
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";
import { getDestinations, searchHotels } from "../../networking/homeApi.js";
import { useRouter } from "vue-router";
import { useDataStore } from "../../store/DataStore";
export default {
  name: "home",
  setup() {
    const router = useRouter();
    const dataStore = useDataStore();
    let isOptionsExpanded = ref(false);
    let selectedOption = ref("Where are you going?");
    const destinations = ref([]);
    const destId = ref();
    const checkIn = ref("");
    const checkOut = ref("");
    const searchType = ref("");
    const checkInStartDay = new Date().toJSON().slice(0, 10);
    const day = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
    const checkoutStartDay = day.toJSON().slice(0, 10);
    const guests = ref("");
    const rooms = ref("");
    let data = ref({
      dest_id: "",
      search_type: "",
      arrival_date: "",
      departure_date: "",
      adults: "",
      room_qty: "",
    });

    onMounted(() => {
      if (localStorage.getItem("searchData") !== null) {
        let searchData = JSON.parse(localStorage.getItem("searchData"));
        console.log(searchData);
        guests.value = searchData.adults;
        selectedOption.value = searchData.destination;
        checkIn.value = searchData.arrival_date;
        checkOut.value = searchData.departure_date;
        rooms.value = searchData.room_qty;
      }

      getDestinations()
        .then((response) => {
          destinations.value = response.data.data;
        })
        .catch((e) => {
          console.log(e);
        });
    });

    const setOption = (option, id, type) => {
      selectedOption.value = option;
      isOptionsExpanded.value = false;
      destId.value = id;
      searchType.value = type;
    };
    const search = () => {
      data = {
        dest_id: destId.value,
        search_type: searchType.value,
        arrival_date: checkIn.value,
        departure_date: checkOut.value,
        adults: guests.value,
        room_qty: rooms.value,
      };
      if (destId.value && searchType.value && checkIn.value && checkOut.value) {
        localStorage.setItem(
          "searchData",
          JSON.stringify({ ...data, destination: selectedOption.value })
        );
        searchHotels(data)
          .then((response) => {
          console.log(response.data.data)
            dataStore.setHotels(response?.data.data);
            router.push({
              name: "SearchResult",
              //   , params:{data:JSON.stringify(response?.data.data)}
            });
            console.log("res", response.data.data);
          })
          .catch((e) => {
            console.log(e);
          });
      } else {
        toast("Fill Data", {
          autoClose: 1000,
        }); // ToastOptions

        console.log("fill data");
      }
    };
    return {
      checkoutStartDay,
      checkInStartDay,
      destId,
      searchType,
      data,
      search,
      getDestinations,
      destinations,
      isOptionsExpanded,
      setOption,
      selectedOption,
      checkIn,
      checkOut,
      guests,
      rooms,
    };
  },
};
</script>

<template>
  <div
    class="shadow-[0_4px_37px_0px_rgba(0,0,0,0.15)] flex justify-between items-center mx-[105px] rounded-lg p-[10px] -mt-[35px] mb-[50px] bg-[#fff]"
  >
    <div
      class="flex items-center relative w-[206px] rounded p-[10px] bg-[#F2F2F2] me-[10px]"
    >
      <div>
        <button
          class="flex items-center"
          @click="isOptionsExpanded = !isOptionsExpanded"
          @blur="isOptionsExpanded = false"
        >
          <span
            class="flex items-center m-[3px] w-full text-[#4F4F4F] text-xs font-normal"
          >
            <img
              src="../../assets/location.svg"
              alt="location"
              class="me-[6px]"
            />{{ selectedOption }}</span
          >

          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-4 w-4 transform transition-transform duration-200 ease-in-out absolute right-2"
            :class="isOptionsExpanded ? 'rotate-180' : 'rotate-0'"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </button>
        <transition
          enter-active-class="transform transition duration-500 ease-custom"
          enter-class="-translate-y-1/2 scale-y-0 opacity-0"
          enter-to-class="translate-y-0 scale-y-100 opacity-100"
          leave-active-class="transform transition duration-300 ease-custom"
          leave-class="translate-y-0 scale-y-100 opacity-100"
          leave-to-class="-translate-y-1/2 scale-y-0 opacity-0"
        >
          <ul
            v-show="isOptionsExpanded"
            class="absolute -left-2 right-0 w-[206px] rounded-[10px] -bottom-52 bg-white shadow-lg overflow-hidden"
          >
            <li
              v-for="destination in destinations"
              :key="destination.dest_id"
              class="py-[10px] text-center transition-colors text-[#4F4F4F] text-sm border-b border-[#D6D6D6] cursor-pointer duration-300 hover:bg-gray-200"
              @mousedown.prevent="
                setOption(
                  destination.city_name,
                  destination.dest_id,
                  destination.search_type
                )
              "
            >
              {{ destination.city_name }}
            </li>
          </ul>
        </transition>
      </div>
    </div>

    <div
      className="flex  items-center rounded p-[12px] relative bg-[#F2F2F2] me-[10px] "
    >
      <img src="../../assets/calendar.svg" alt="calendar" />
      <span
        class="ms-2 bg-transparnt whitespace-nowrap placeholder:text-[#4F4F4F] text-xs font-normal"
      >
        {{ checkIn || "Check in date" }}
      </span>
      <input
        type="date"
        placeholder="Check in date"
        v-model="checkIn"
        :min="checkInStartDay"
        class="bg-transparnt w-full placeholder:text-[#4F4F4F] text-xs font-normal"
      />
    </div>
    <div
      className="flex  items-center rounded p-[12px] relative bg-[#F2F2F2] me-[10px] "
    >
      <img src="../../assets/calendar.svg" alt="calendar" />
      <span
        class="ms-2 bg-transparnt whitespace-nowrap placeholder:text-[#4F4F4F] text-xs font-normal"
      >
        {{ checkOut || "Check out date" }}
      </span>
      <input
        type="date"
        placeholder="Check in date"
        v-model="checkOut"
        :min="checkoutStartDay"
        class="bg-transparnt w-full placeholder:text-[#4F4F4F] text-xs font-normal"
      />
    </div>

    <div className="flex  items-center rounded p-[12px] bg-[#F2F2F2] me-[10px]">
      <img src="../../assets/guests.svg" alt="guests" />
      <input
        type="text"
        v-model="guests"
        placeholder="Guests"
        class="ms-2 bg-transparnt w-full placeholder:text-[#4F4F4F] text-xs font-normal"
      />
    </div>
    <div className="flex  items-center rounded p-[12px] bg-[#F2F2F2] me-[10px]">
      <img src="../../assets/rooms.svg" alt="rooms" />
      <input
        type="text"
        v-model="rooms"
        placeholder="Rooms"
        class="ms-2 bg-transparnt w-full placeholder:text-[#4F4F4F] text-xs font-normal"
      />
    </div>
    <div>
      <button
        @click="search"
        class="bg-primary text-[#fff] border border-primary rounded-md px-[18px] py-[12px]"
      >
        Search
      </button>
    </div>
  </div>
</template>
