<template>
  <p class="text-[#181818] mt-8 text-[28px] font-semibold mb-3">
    Enjoy your dream vacation
  </p>
  <div class="grid grid-cols-3 text-[#181818] gap-7 mb-8">
    <div class="bg-trip1 bg-no-repeat bg-cover bg-center h-[280px] relative">
      <div class="absolute inset-x-0 bottom-0 text-[#fff] p-[20px]">
        <p class="font-semibold text-xl">
          Sydeny’s 10 most fashionable 5 star hotels
        </p>
        <p class="text-base font-normal">
          Browse the fastest growing tourism sector in the heart of Australia
          tourism capital ....
        </p>
      </div>
    </div>

    <div class="bg-trip2 bg-no-repeat bg-cover bg-center h-[280px] relative">
      <div class="absolute inset-x-0 bottom-0 text-[#fff] p-[20px]">
        <p class="font-semibold text-xl">Top cities for Vegan Travellers</p>
        <p class="text-base font-normal">
          Top sites where you do not have to worry about being a vegan. Our
          tourist guide is here...
        </p>
      </div>
    </div>

       <div class="bg-trip3 bg-no-repeat bg-cover bg-center h-[280px] relative">
      <div class="absolute inset-x-0 bottom-0 text-[#fff] p-[20px]">
        <p class="font-semibold text-xl">World’s top destinations during and post covid timeline</p>
        <p class="text-base font-normal">
        Pandemic is still intact and will be here for a longer time. Here’s where your next destination...
        </p>
      </div>
    </div>
  </div>
</template>
