<template>
  <p class="text-[#181818] text-[28px] font-semibold mb-3 mt-[50px]">
    Enjoy your dream vacation
  </p>
  <p>
    Plan and book our perfect trip with expert advice, travel tips, destination
    information and
  </p>
  <p>inspiration from us</p>
  <div class="grid grid-cols-4 text-[#181818] mt-8 gap-3">
    <div>
      <img src="../../assets/vacation1.svg" alt="vacation image" />
      <p class="font-semibold text-xl">Australia</p>
      <p class="text-sm font-normal">2246 properties</p>
    </div>
    <div>
      <img src="../../assets/vacation2.svg" alt="vacation image" />
      <p class="font-semibold text-xl">Japan</p>
      <p class="text-sm font-normal">1278 properties</p>
    </div>

    <div>
      <img src="../../assets/vacation3.svg" alt="vacation image" />
      <p class="font-semibold text-xl">New Zealand</p>
      <p class="text-sm font-normal">480 properties</p>
    </div>
    <div>
      <img src="../../assets/vacation4.svg" alt="vacation image" />
      <p class="font-semibold text-xl">Greece</p>
      <p class="text-sm font-normal">320 properties</p>
    </div>
  </div>
</template>
