<template>
  <div
      class="flex whitespace-nowrap items-center bg-[#FCEFCA] rounded-lg p-4"
    >
      <img src="../../assets/danger.svg" alt="danger" />
      <p class="font-normal flex text-base text-gray leading-5 ms-3">
        Check the latest COVID-19 restrictions before you travel.
        <a href="/" target="_blank" class="text-primary"> Learn more</a>
      </p>
    </div>


</template>