<script setup>
import Search from "./Search.vue";
import Warning from "./Warning.vue";
</script>

<template>
  <div>
    <div
      class="flex items-center justify-center flex-col bg-home bg-no-repeat bg-cover bg-center h-[500px] w-full rounded-md mt-[20px]"
    >
      <p class="text-[#fff] text-[32px] font-bold">Enjoy Your Dream Vacation</p>
      <p class="font-normal text-xl text-[#fff] mt-5">
        Plan and book our perfect trip with expert advice, travel tips,
        destination
      </p>
      <p class="font-normal text-xl text-[#fff]">
        information and inspiration from us
      </p>
    </div>
   <Search/>
  <Warning/>
  </div>
</template>
