<template>
  <div>
  
    <div class="grid lg:grid-cols-5 grid-cols-1 pb-16 container mx-auto">
      <div class="flex">
        <router-link  to="/" class="flex items-start">
          <img src="../assets/logo.svg" alt="logo" />
          <div class="ms-2">
            <p class="font-medium text-[#1B1F2D] mb-[7.5px] text-lg leading-5">
              my Dream Place
            </p>
            <p class="font-normal text-sm text-gray">
              Your next goto companion for <br />
              travel
            </p>
          </div>
        </router-link>
      </div>

      <div>
        <p class="text-base font-medium mb-[20px]">About Us</p>
        <p class="mb-3 font-normal text-sm"><a href="#">About</a></p>
        <p class="mb-3 font-normal text-sm"><a href="#">Jobs</a></p>
        <p class="mb-3 font-normal text-sm"><a href="#">Newsroom</a></p>
        <p class="mb-3 font-normal text-sm">
          <a href="#">Advertising</a>
        </p>
        <p class="mb-3 font-normal text-sm"><a href="#">Contact us</a></p>
      </div>

      <div class="text-xl font-normal">
        <p class="text-base font-medium mb-[20px]">Explore</p>
        <p class="mb-3 font-normal text-sm"><a href="#">Australia</a></p>
        <p class="mb-3 font-normal text-sm"><a href="#">New Zealand</a></p>
        <p class="mb-3 font-normal text-sm">
          <a href="#">United States America (USA)</a>
        </p>
        <p class="mb-3 font-normal text-sm">
          <a href="#">Greece</a>
        </p>
        <p class="mb-3 font-normal text-sm"><a href="#">Maldives</a></p>
        <p class="mb-3 font-normal text-sm"><a href="#">Singapore</a></p>
        <p class="mb-3 font-normal text-sm text-primary">
          <a href="#">See more</a>
        </p>
      </div>

      <div class="text-xl font-normal">
        <p class="text-base font-medium mb-[20px]">Terms and Policies</p>
        <p class="mb-3 font-normal text-sm"><a href="#">Privacy Policy</a></p>
        <p class="mb-3 font-normal text-sm"><a href="#">Terms of use</a></p>
        <p class="mb-3 font-normal text-sm"><a href="#">Acessibility</a></p>
        <p class="mb-3 font-normal text-sm">
          <a href="#">Reward system policy</a>
        </p>
      </div>

      <div class="text-xl font-normal">
        <p class="text-base font-medium mb-[20px]">Help</p>
        <p class="mb-3 font-normal text-sm"><a href="#">Support</a></p>
        <p class="mb-3 font-normal text-sm">
          <a href="#">Cancel your bookings</a>
        </p>
        <p class="mb-3 font-normal text-sm"><a href="#">Use Coupon</a></p>
        <p class="mb-3 font-normal text-sm">
          <a href="#">Refund Policies</a>
        </p>
        <p class="mb-3 font-normal text-sm">
          <a href="#">International Travel Documents</a>
        </p>
      </div>
    </div>

    <div
      class="bg-[#EBEBEB] flex justify-end items-center flex-wrap h-[40px] pe-[100px]"
    >
      <p class="text-base text-gray">&copy; my Dream Place 2022</p>
    </div>
  </div>
</template>
