<script>
import { ref, computed } from "vue";
export default {
  setup() {
    const links = ref(["Home", "Discover", "Activities", "About", "Contact"]);
    const userData = ref(null); // Reference to store user data
    userData.value = JSON.parse(localStorage.getItem("userData"));

    const loggedIn = computed(() => {
      return userData.value !== null && userData.value.email !== undefined;
    });

    return { links, loggedIn };
  },
};
</script>

<template>
  <div class="flex justify-between container mx-auto">
    <div class="flex whitespace-nowrap items-center text-[1B1F2D]">
      <router-link to="/" class="font-medium flex text-lg leading-5">
        <img src="../assets/logo.svg" alt="logo" />
        <p>my Dream Place</p>
      </router-link>
    </div>
    <div
      class="flex mt-[22px] text-base font-normal"
    >
      <p class="me-[48px]"   v-for="link in links"
      :key="link">
        <router-link to="/" class="me-[48px]">{{ link }}</router-link>
      </p>
    </div>

    <div class="flex items-center justify-center" v-if="loggedIn">
      <div class="w-6 h-6">
        <img
          src="../assets/notification.svg"
          alt="notification w-full h-full"
        />
      </div>
      <div class="h-11 w-11 rounded-full ms-[10px] mt-[12px] mb-3">
        <img
          src="../assets/profileImage.png"
          alt="profileImage"
          class="w-full rounded-full h-full object-cover"
        />
      </div>
    </div>
    <div v-else >
    <router-link   to="/register" class="bg-primary mt-[14px] block text-[#fff] border border-primary rounded-md px-[18px] py-[10px]  ">Register</router-link>
    </div>
  </div>
</template>
