<script setup lang="ts">
import { ref } from "vue";
const onClickHandler = (page: number) => {
  console.log(page);
};

const currentPage = ref(1);
</script>

<template>
<div class="container mx-auto">
  <vue-awesome-paginate
    :total-items="50"
    :items-per-page="5"
    :max-pages-shown="5"
    v-model="currentPage"
    :on-click="onClickHandler"
  />

</div>
</template>

<style>
.pagination-container {
  display: flex;
  column-gap: 10px;
}
.paginate-buttons {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(217, 217, 217);
  color: black;
}
.paginate-buttons:hover {
  background-color: #d8d8d8;
}
.active-page {
  background-color: #2F80ED;
  border: 2px solid #2F80ED;
  color: white;
}
.active-page:hover {
  background-color: #2988c8;
}
</style>
