<template>
    <div class="w-[400px] text-center px-6 rounded-[10px]">
    <div
      class="bg-[#6FCF9733] px-10 py-5 rounded-[10px] mx-[56px] flex items-center justify-center my-11"
    >
      <img src="./assets/booking-done.svg" alt="booking-done" />
    </div>
    <p class="font-semibold text-[20px] mb-3 text-[#181818]">
      Booking Successful
    </p>
    <p class="font-normal text-base">
      Congratulations your reservation has been made. You will be notified 2
      days prior the date.
    </p>
    <router-link
      to="/"
      class="bg-primary font-medium text-base mt-11 block text-center text-[#fff] border border-primary rounded-md px-[18px] py-[10px]"
    >
      View Trip
    </router-link>
  </div>




</template>