<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    hotel: Object,
  },
  setup(props) {
    // Accessing the value of props
    const hotel = props.hotel;
    // console.log(hotel)
    return { hotel };
  },
});
</script>
<template>
  <div class="flex items-center border border-[#E0E0E0] rounded-md p-[20px] mb-6">
   
  <img
     :src="hotel.property.photoUrls[0]"
      alt="hotel"
      class="rounded-md w-[285px]  me-[24px] object-contain block h-[200px] "
    />

    <div>
      <p class="text-[#1A1A1A] font-medium text-xl mb-[10px]">
        {{ hotel.property.name }}
      </p>
      <div class="flex mb-[17px]">
        <img src="../../assets/star.svg" alt="star" class="me-[12px]" />
        <p class="text-sm font-normal">
          {{ (hotel.property.reviewScore / 2).toFixed(1) }} ({{
            hotel.property.reviewCount
          }}
          Reviews)
        </p>
      </div>
      <p class="text-sm font-medium mb-1">
        {{ hotel.accessibilityLabel.slice(0, 50) }}
      </p>
      <p class="text-sm font-normal">
        {{ hotel.accessibilityLabel.slice(50) }}
      </p>
      <div class="flex items-center justify-between mt-[18px]">
        <router-link
          :to="{ name: 'HotelDetaile', params: { id: hotel.hotel_id } }"
          class="bg-primary block text-center text-[#fff] border border-primary rounded-md px-[18px] py-[10px]"
        >
          See availability
        </router-link>
        <div>
          <p class="text-xl font-medium">
            $ {{ hotel.property.priceBreakdown.grossPrice.value }}
          </p>
          <p class="text-[#333] text-sm font-light">Includes taxes and fees</p>
        </div>
      </div>
    </div>
  </div>
</template>
