<template>

  <div
    class="flex items-center border mb-6 border-[#E0E0E0] rounded-md p-[20px] container mx-auto"
  >
    <img
      src="../../assets/profileImage.png"
      alt="hotel"
      class="rounded-md w-[285px] h-[200px] me-[24px]"
    />
    <div class="w-full">
      <p class="text-[#1A1A1A] font-medium text-xl mb-[10px]">
        Julia Dens Resort
      </p>
      <div class="flex mb-[30px]">
        <img src="../../assets/star.svg" alt="star" class="me-[12px]" />
        <p class="text-sm font-normal">4.5 (1200 Reviews)</p>
      </div>
      <div class="flex items-center justify-between">
        <div>
          <p class="text-sm font-normal text-[#EB5757] mb-2">Non refundable</p>
          <p class="text-sm font-normal mb-2">
            Check in: Sunday, March 18, 2022
          </p>
          <p class="text-sm font-normal mb-2">
            Check out: Tuesday, March 20, 2022
          </p>
          <p class="text-sm font-normal mb-2">2 night stay</p>
        </div>

        <div>
          <div class="flex flex-col items-end">
            <p class="text-xl font-medium">
              <span class="text-sm text-[#EB5757] me-2">$150</span>$240
            </p>
            <p class="text-[#333] text-sm font-light mt-1.5">
              Includes taxes and fees
            </p>
          </div>
          <router-link
            to="/"
            class="bg-primary font-medium text-base mt-4 block text-center text-[#fff] border border-primary rounded-md px-[18px] py-[10px]"
          >
            View trip details
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
